body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1fbaed;
  font-family: "Catamaran";
  font-weight: 900 !important;
}

@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,800,900");
